<?xml version="1.0" encoding="utf-8"?>
<PackageConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Packages>
    <Package id="Bonsai" version="2.9.0" />
    <Package id="Bonsai.Core" version="2.9.0" />
    <Package id="Bonsai.Design" version="2.9.0" />
    <Package id="Bonsai.Design.Visualizers" version="2.9.0" />
    <Package id="Bonsai.Editor" version="2.9.0" />
    <Package id="Bonsai.System" version="2.9.0" />
    <Package id="Bonsai.System.Design" version="2.9.0" />
  </Packages>
  <AssemblyReferences>
    <AssemblyReference assemblyName="Bonsai.Core" />
  </AssemblyReferences>
  <AssemblyLocations>
    <AssemblyLocation assemblyName="Bonsai.Core" processorArchitecture="MSIL" location="Packages/Bonsai.Core.2.9.0/lib/net472/Bonsai.Core.dll" />
  </AssemblyLocations>
</PackageConfiguration>